.button-c.hvr-sweep-to-bottom:before {
  background-color: #00274D; }

.button-w.hvr-sweep-to-bottom:before {
  background-color: #FFB700; }

.btn, .btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #00AFAC;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  font-size: 10px;
  font-family: "Heebo", sans-serif;
  text-transform: none;
  border-radius: 0; }

.button-c {
  width: auto;
  padding: 0 1em;
  height: 55px;
  border: 2px solid #00274D;
  line-height: 51px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  color: #00274D;
  cursor: pointer;
  text-align: center; }

.button-w {
  width: auto;
  padding: 0 1em;
  height: 55px;
  border: 2px solid white;
  line-height: 51px;
  font-size: 14px;
  font-family: "Heebo", sans-serif;
  color: white;
  text-align: center; }

.button-solid {
  width: 165px;
  height: 55px;
  background-color: #FFB700;
  line-height: 51px;
  font-size: 14px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  color: white;
  text-align: center;
  margin: 0 auto; }

.header {
  font-family: "Heebo", sans-serif;
  font-size: 3em;
  font-weight: 400;
  display: block; }

.text-para p {
  font-size: 15px;
  margin-bottom: 1.8em; }

.para {
  font-size: 15px; }

.brand-logo img {
  height: 91px;
  margin-left: 1px; }
.brand-logo .small-logo {
  height: 70px; }

nav {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  box-shadow: none;
  background-color: transparent; }

nav ul a {
  color: #00274D;
  font-size: 14px; }

nav ul li.active {
  background-color: transparent; }
  nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #00AFAC; }

.bluenav {
  background-color: #00AFAC; }
  .bluenav ul a {
    color: white; }

.navbar-fixed {
  height: 0; }

nav.nav-center ul {
  text-align: center; }

nav.nav-center ul li {
  display: inline;
  float: none; }

#aboutDropdown li {
  display: block;
  text-align: center; }
  #aboutDropdown li a {
    font-size: 12px;
    color: #00274D;
    width: 100%; }

nav.nav-center ul li a {
  display: inline-block; }

#sidenav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 996;
  will-change: opacity; }

.side-nav li > a {
  color: white;
  display: block;
  font-size: 18px;
  font-weight: 500;
  height: 48px;
  line-height: 48px;
  padding: 0 32px;
  text-align: left;
  font-family: "Heebo", sans-serif; }

.side-nav {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-bottom: 60px;
  background-color: #00AFAC;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%); }
  .side-nav li a {
    width: 100%; }

.side-nav li.active {
  background-color: transparent; }

.logo-mobile img {
  height: 55px;
  margin-left: 0; }

.fa-bars {
  color: #00274D;
  font-size: 1.5em; }

.big-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 82%; }

.turq {
  color: #00AFAC; }

body {
  overflow-x: hidden; }

.toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 100px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #00AFAC;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default; }

.jumbotron-h1 {
  font-size: 64px;
  font-weight: 700;
  font-family: "Heebo", sans-serif;
  color: #00AFAC;
  text-decoration: underline; }

.jumbo-sub {
  font-family: "PT Serif", serif;
  font-size: 44px;
  color: #FFB700; }

.jumbo-sub-two {
  font-family: "PT Serif", serif;
  font-size: 26px;
  color: #00274D;
  font-style: italic; }

.parallax-container {
  height: 700px; }

#index-banner .section {
  width: 100%; }

#news-banner {
  position: relative;
  background-color: #FFB700; }
  #news-banner .fa {
    font-size: 38px;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -19px;
    color: #00274D; }
  #news-banner .card.small {
    height: auto; }
    #news-banner .card.small .card-title {
      font-size: 14px; }
  #news-banner .card .card-content .card-title {
    display: block;
    text-align: left;
    line-height: 39px;
    margin-bottom: 0px; }
  #news-banner .card-category {
    font-size: 10px;
    color: #00AFAC;
    font-style: italic;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 10px; }
  #news-banner .card.small .card-image, #news-banner .card.medium .card-image, #news-banner .card.large .card-image {
    max-height: none;
    overflow: hidden; }
  #news-banner .card.small .card-image {
    height: 100%; }
  #news-banner .card-content {
    background-color: rgba(0, 39, 77, 0.5);
    height: 82px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
    padding-bottom: 4em; }
  #news-banner .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
  #news-banner .card .card-reveal {
    padding: 10px;
    position: absolute;
    background-color: #00274D;
    color: white;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    font-family: "Heebo", sans-serif; }
    #news-banner .card .card-reveal h5 {
      font-weight: 700; }
  #news-banner .close-card {
    position: absolute;
    right: 12px;
    top: 12px;
    /* float: right; */
    text-align: right;
    font-size: 18px; }

#about-banner {
  position: relative;
  background-color: #00AFAC; }
  #about-banner i.fa.fa-chevron-up {
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #00AFAC; }
  #about-banner .acnj {
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #00274D;
    position: relative;
    z-index: 1; }
  #about-banner .text-para {
    font-family: "PT Serif", serif;
    font-size: 18px;
    position: relative;
    z-index: 1;
    letter-spacing: 1.31; }
  #about-banner .greyTriangle {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0; }
  #about-banner #bottomSectionAbout {
    position: relative; }
    #about-banner #bottomSectionAbout h1 {
      color: #00274D; }
    @media only screen and (min-width: 601px) {
      #about-banner #bottomSectionAbout .big-container {
        width: 85%; } }
    @media only screen and (min-width: 993px) {
      #about-banner #bottomSectionAbout .big-container {
        width: 82%; } }
    #about-banner #bottomSectionAbout .ac-map {
      max-height: 464px; }
    #about-banner #bottomSectionAbout p.para {
      padding: 1em;
      background-color: #028F8C;
      font-family: "PT Serif", serif;
      font-size: 15px;
      color: white;
      font-weight: 400; }
    #about-banner #bottomSectionAbout .ico-group {
      display: inline-block;
      font-family: "Heebo", sans-serif;
      font-weight: 300;
      color: white;
      font-size: 12px; }
      #about-banner #bottomSectionAbout .ico-group p {
        margin-top: 2px; }
    #about-banner #bottomSectionAbout #why-ac-icons {
      position: relative;
      width: 100%;
      list-style-type: none;
      display: block; }
      #about-banner #bottomSectionAbout #why-ac-icons li {
        display: inline-block;
        cursor: pointer;
        line-height: 60px;
        width: 60px;
        border: 1px solid white;
        margin: 5px;
        font-size: 23px;
        border-radius: 100%; }

#target-industries-banner .carousel .indicators .indicator-item {
  display: block;
  position: relative;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 24px 4px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  border-radius: 50%; }

#target-industries-banner {
  min-height: 500px;
  position: relative;
  background-color: #4A4A4A;
  min-height: 500px; }
  #target-industries-banner .carousel .indicators .indicator-item {
    display: block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    color: white;
    background-color: transparent;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
    border: 1px solid white; }
  #target-industries-banner .carousel {
    min-height: 500px;
    max-height: 501px; }
  #target-industries-banner .carousel .indicators {
    left: auto;
    right: 20px;
    bottom: 20px;
    background-color: transparent; }
  #target-industries-banner .carousel .indicators .indicator-item {
    display: block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
    border: 1px solid white; }
  #target-industries-banner .carousel .indicators .indicator-item.active {
    background-color: #fff; }
  #target-industries-banner i.fa.fa-chevron-up {
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #4A4A4A; }
  #target-industries-banner .target-industries-header {
    border-bottom: 3px solid white;
    margin-top: 0; }
  #target-industries-banner .industry-image {
    background-image: url(../img/ind-1.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-two-image {
    background-image: url(../img/ind-2.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-three-image {
    background-image: url(../img/ind-3.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-four-image {
    background-image: url(../img/ind-4.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-five-image {
    background-image: url(../img/ind-5.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-six-image {
    background-image: url(../img/ind-6.jpg);
    background-size: cover;
    min-height: 500px; }
  #target-industries-banner .industry-card {
    background-color: #4A4A4A;
    box-shadow: none;
    min-height: 500px;
    margin-bottom: 0;
    padding: 0; }
    #target-industries-banner .industry-card #industry-title {
      font-weight: 400; }
    #target-industries-banner .industry-card .target-industries-slide {
      background-color: #4A4A4A; }
    #target-industries-banner .industry-card span {
      font-family: "PT Serif", serif;
      letter-spacing: 1.31px;
      font-size: 15px; }
    #target-industries-banner .industry-card .icon-row {
      margin-top: 2rem; }
      #target-industries-banner .industry-card .icon-row ul {
        display: block; }
        #target-industries-banner .industry-card .icon-row ul li {
          display: inline-block;
          padding: 0 4px; }

#business-services {
  background: #00274D;
  position: relative; }
  #business-services i.fa.fa-chevron-up {
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #00274D; }
  #business-services .subheader {
    font-size: 24px;
    font-weight: 300;
    font-family: "Heebo", sans-serif; }
  #business-services .step-group {
    position: relative;
    margin: 0; }
  #business-services .step-col {
    opacity: 0.49;
    cursor: pointer;
    padding-right: 0;
    width: 14.28%; }
    #business-services .step-col h2 {
      text-align: left;
      color: white;
      font-family: "PT Serif", serif; }
    #business-services .step-col .stepTitle {
      font-size: 20px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      font-family: "PT Serif", serif;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      padding-bottom: 1em;
      margin-bottom: 0;
      min-height: 65px; }
  #business-services .step-col-active {
    opacity: 1;
    cursor: pointer; }
    #business-services .step-col-active h2 {
      color: white;
      text-align: left; }
    #business-services .step-col-active .stepTitle {
      font-size: 20px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      font-family: "PT Serif", serif;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      padding-bottom: 1em;
      margin-bottom: 0; }
  #business-services .step-desc {
    margin-top: 2em; }
    #business-services .step-desc h5 {
      color: white;
      font-family: "Heebo", sans-serif;
      font-size: 11px;
      font-weight: 100;
      padding-bottom: 15px;
      border-bottom: 1px solid #FFF; }
    #business-services .step-desc p {
      color: white;
      font-family: "PT Serif", serif; }
  #business-services #download-pdf {
    float: left;
    margin: 1em 0;
    background-color: #00AFAC;
    color: #00274D;
    cursor: pointer; }
  #business-services .graphic {
    position: absolute;
    right: 0;
    bottom: -6px;
    max-width: 50%; }

#data-section {
  position: relative;
  background-color: white;
  min-height: 400px; }
  #data-section .tabs .indicator {
    position: absolute;
    bottom: 8px;
    height: 2px;
    background-color: #FFB700;
    will-change: left, right; }
  #data-section .data-row .tabs {
    height: auto; }
    #data-section .data-row .tabs .tab {
      height: auto; }
  #data-section .data-row h1 {
    background-color: #00274D;
    text-align: center;
    color: white;
    height: 130px;
    line-height: 130px;
    border-radius: 100%;
    width: 130px; }
  #data-section i.fa.fa-chevron-up {
    width: 100%;
    position: absolute;
    top: -68px;
    text-align: center;
    font-size: 90px;
    color: white; }
  #data-section h3.header {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.4em; }
    #data-section h3.header a {
      color: #00274D;
      border-bottom: 1px solid #00274D; }
  #data-section #test1, #data-section #test2, #data-section #test3, #data-section #test4 {
    font-size: 18px;
    padding: 1em; }

#real-estate {
  position: relative;
  margin-bottom: 4em;
  min-height: 400px; }
  #real-estate .greyTri {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  #real-estate .big-container {
    z-index: 1; }
  #real-estate .header {
    font-weight: 100;
    font-size: 36px; }
    #real-estate .header i {
      font-style: normal;
      border-bottom: 1px solid black; }
  #real-estate .listing {
    cursor: pointer; }
    #real-estate .listing .top-right {
      position: absolute;
      opacity: 0.6; }

#contact-section {
  position: relative; }
  #contact-section i.fa.fa-chevron-up {
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 90px;
    color: white;
    transform: rotate(-90deg);
    left: -49px; }
  #contact-section .contact-row {
    background-color: #0298D9;
    margin-bottom: 0; }
  #contact-section #point-of-contact .name {
    color: #00AFAC;
    font-weight: 800;
    font-family: "Heebo", sans-serif;
    font-size: 18px; }
  #contact-section #point-of-contact .para {
    line-height: 7px;
    font-size: 15px;
    font-family: "Heebo", sans-serif; }
  #contact-section .left-col {
    padding: 0;
    min-height: 241px; }
  #contact-section .right-col {
    min-height: 241px; }
  #contact-section .row-left {
    background-color: #0298D9;
    margin-bottom: 0; }
  #contact-section h1.header {
    color: white; }
  #contact-section .social-icon {
    font-size: 24px;
    padding: 0 6px; }

.page-footer {
  padding-top: 0;
  background-color: #00274D; }
  .page-footer .row {
    margin-bottom: 0; }
  .page-footer .foot-links {
    text-align: right;
    margin-right: 10px; }
    .page-footer .foot-links li {
      display: inline-block;
      margin-left: 2em; }
      .page-footer .foot-links li a {
        color: white; }
  .page-footer .footer-copyright {
    height: 78px;
    background-color: #00AFAC; }
    .page-footer .footer-copyright a {
      color: #00274D; }
    .page-footer .footer-copyright .logo-left {
      height: 78px; }
    .page-footer .footer-copyright .love {
      margin-left: 3px; }

@media only screen and (max-width: 600px) {
  .big-container {
    width: 100%; }

  .header {
    text-align: center;
    font-size: 39px; }

  #index-banner .jumbotron-h1 {
    font-size: 39px; }
  #index-banner .jumbo-sub {
    font-size: 22px; }
  #index-banner .jumbo-sub-two {
    font-size: 18px; }

  #topSectionAbout {
    text-align: center; }
    #topSectionAbout .text-para {
      text-align: center; }

  #target-industries-banner {
    min-height: 200px; }
    #target-industries-banner #target-industries-button {
      margin: 0 auto;
      display: block;
      background-color: transparent;
      border: 1px solid white;
      color: white;
      width: auto;
      padding: 0 1em; }

  #business-services .step-col {
    width: 33%; }

  #business-services .step-col h2 {
    text-align: left;
    color: white;
    font-family: "PT Serif", serif;
    font-size: 1em; } }
.internal-page nav {
  background: white; }
  .internal-page nav .brand-logo img {
    height: 65px; }
.internal-page .parallax-container {
  height: 500px; }
.internal-page #section-one-content .header,
.internal-page #section-two-content .header {
  color: #00274D;
  font-size: 3em;
  padding: 18px 0 2px 0;
  font-weight: 500;
  line-height: 54px; }
.internal-page #section-one-content .subheader,
.internal-page #section-two-content .subheader {
  font-family: "PT Serif", serif; }
.internal-page #section-one-content p,
.internal-page #section-two-content p {
  font-family: "PT Serif", serif;
  font-size: 17px; }
.internal-page .mission-section {
  padding: 0; }
.internal-page #section-two-content {
  background-color: #FFB700; }
  .internal-page #section-two-content .subheader {
    color: white; }
  .internal-page #section-two-content .mission {
    font-weight: 400;
    color: #00274D; }
  .internal-page #section-two-content .core-focus {
    color: #00274D;
    font-weight: 100;
    text-align: center;
    padding-bottom: 7px; }
  .internal-page #section-two-content .focus-icons img {
    max-height: 100px;
    margin: 0 auto; }
  .internal-page #section-two-content .focus-icons p {
    font-size: 13px;
    color: #00274D; }
.internal-page #section-three-content {
  background-color: #00AFAC; }
  .internal-page #section-three-content h1 {
    margin-top: 0;
    font-weight: 100;
    padding-top: 0.5em; }
  .internal-page #section-three-content .green-para {
    background-color: #028F8C; }
  .internal-page #section-three-content p {
    color: #00274D;
    font-family: "PT Serif", serif;
    font-size: 17px; }
.internal-page #section-four-content .subheader {
  color: #00274D;
  font-family: "PT Serif", serif; }
.internal-page #section-four-content .para {
  font-weight: 400;
  color: #00274D;
  font-family: "PT Serif", serif;
  font-size: 17px; }
.internal-page #section-five-content h4 {
  margin-top: 0;
  font-weight: 100;
  padding-top: 0.5em; }
.internal-page #section-five-content .collection-item {
  font-family: "PT Serif", serif;
  font-style: italic; }
.internal-page #section-five-content .board-of-trustees {
  max-height: 455px;
  overflow: scroll; }
.internal-page #section-five-content .collection.with-header .collection-header {
  background-color: #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  padding: 10px 20px;
  color: white; }
.internal-page #why-ac-one {
  background-color: #00AFAC; }
  .internal-page #why-ac-one .para {
    color: white;
    font-size: 17px;
    font-family: "PT Serif", serif;
    text-indent: 25px; }
.internal-page #higher-education .subheader {
  text-align: left; }
.internal-page #higher-education ul.collapsible {
  box-shadow: none;
  border: none; }
.internal-page #higher-education .subhead {
  font-style: italic;
  font-size: 20px;
  font-family: "PT Serif", serif; }
.internal-page #higher-education .first {
  border-top: 1px solid #00274D;
  padding-top: 1em; }
.internal-page #higher-education .subheader {
  font-weight: 100;
  color: #00274D; }
.internal-page #higher-education p {
  font-family: "Heebo", sans-serif; }
.internal-page #higher-education .para {
  color: #00274D;
  font-size: 17px;
  font-family: "PT Serif", serif; }
.internal-page #quality-of-life {
  background-color: #00AFAC; }
  .internal-page #quality-of-life ul.collapsible {
    box-shadow: none;
    border: none; }
  .internal-page #quality-of-life .collapsible-header {
    background-color: #028F8C;
    border: 1px solid #00AFAC; }
  .internal-page #quality-of-life .collapsible-body {
    background-color: #028F8C;
    border-bottom: 1px solid #028F8C; }
    .internal-page #quality-of-life .collapsible-body p {
      color: white; }
  .internal-page #quality-of-life .subhead {
    font-style: italic;
    font-size: 20px;
    font-family: "PT Serif", serif;
    color: white; }
    .internal-page #quality-of-life .subhead i {
      color: #00274D; }
  .internal-page #quality-of-life .first {
    border-top: 1px solid #00274D;
    padding-top: 1em; }
  .internal-page #quality-of-life .subheader {
    font-weight: 100;
    color: #00274D; }
  .internal-page #quality-of-life p {
    font-family: "Heebo", sans-serif; }
  .internal-page #quality-of-life .para {
    color: #00274D;
    text-align: right;
    font-size: 17px;
    font-family: "PT Serif", serif; }
.internal-page #higher-education .collapsible-header.subhead.active {
  border-bottom: 2px solid #00274D; }
.internal-page #business-case-studies {
  background-color: #FFB700;
  padding-bottom: 1em; }
  .internal-page #business-case-studies h1 {
    font-family: "PT Serif", serif;
    color: white;
    margin: 0;
    padding: 0.5em; }
  .internal-page #business-case-studies .small {
    height: auto; }
  .internal-page #business-case-studies .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 24px;
    background: rgba(0, 39, 77, 0.5); }
.internal-page .page-footer .foot-links {
  text-align: right;
  margin-right: 10px;
  font-size: 15px;
  font-style: normal; }
.internal-page #menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  color: #fff;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  background-color: #26a69a;
  border-radius: 50%;
  -webkit-transition: .3s;
  transition: .3s;
  vertical-align: middle;
  cursor: pointer !important;
  z-index: 999999; }
.internal-page a.waves-effect.waves-light.btn.btn-floating.btn-large.cyan.tap-target-origin {
  border-radius: 50%; }
.internal-page .tap-target {
  background-color: #00AFAC; }
.internal-page .tap-target-content {
  text-align: right; }
  .internal-page .tap-target-content li a {
    color: white;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
    font-size: 20px; }
.internal-page .target-industries h3.subhead {
  font-family: "Heebo", sans-serif;
  font-size: 24px;
  border-top: 1px solid #00274D;
  padding-top: 0.5em; }
.internal-page .target-industries .collapsible-header {
  font-family: "PT Serif", serif;
  font-size: 14px; }
.internal-page .target-industries .subhead {
  font-weight: 100;
  margin-bottom: 0;
  cursor: default; }
.internal-page .target-industries .subheader {
  font-weight: 100;
  font-style: normal; }
.internal-page .target-industries ul.collapsible {
  box-shadow: none;
  border: none; }
.internal-page #target-industries-one {
  background-color: #FFB700; }
  .internal-page #target-industries-one .para {
    color: #00274D;
    font-size: 17px;
    font-family: "PT Serif", serif; }
.internal-page #target-industries-two ul.collapsible {
  box-shadow: none;
  border: none; }
.internal-page #target-industries-two .first {
  border-top: 1px solid #00274D;
  padding-top: 1em; }
.internal-page #target-industries-two .subheader {
  font-weight: 100;
  font-style: normal;
  color: #00274D;
  text-align: left; }
.internal-page #target-industries-two p {
  font-family: "Heebo", sans-serif;
  font-size: 14px; }
.internal-page #target-industries-two .para {
  color: #00274D;
  font-size: 17px;
  font-family: "PT Serif", serif;
  font-style: normal; }
.internal-page #target-industries-three {
  background-color: #00274D; }
  .internal-page #target-industries-three .subheader {
    color: white;
    font-weight: 100;
    font-style: normal; }
  .internal-page #target-industries-three ul.collapsible {
    box-shadow: none;
    border: none; }
  .internal-page #target-industries-three .collapsible-header {
    background-color: #00274D;
    border: 1px solid #00274D; }
  .internal-page #target-industries-three .collapsible-body {
    background-color: #00274D;
    border-bottom: 1px solid #00274D; }
    .internal-page #target-industries-three .collapsible-body p {
      color: white; }
  .internal-page #target-industries-three .subhead {
    margin-top: 0;
    color: white; }
    .internal-page #target-industries-three .subhead i {
      color: #00274D; }
  .internal-page #target-industries-three .first {
    border-top: 1px solid #00274D;
    padding-top: 1em; }
  .internal-page #target-industries-three p {
    font-family: "Heebo", sans-serif; }
  .internal-page #target-industries-three .para {
    color: white;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    text-indent: 20px;
    font-weight: 400;
    font-family: "PT Serif", serif; }
.internal-page #target-industries-four {
  background-color: #FFB700;
  padding-bottom: 1em; }
  .internal-page #target-industries-four .subheader {
    color: white;
    font-family: "Heebo", sans-serif;
    font-weight: 100;
    text-align: left; }
  .internal-page #target-industries-four .subhead {
    border-top: none;
    border-bottom: 1px solid #00274D;
    margin-top: 0;
    padding-bottom: 0.5em; }
  .internal-page #target-industries-four .para {
    color: black;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    text-indent: 20px;
    font-weight: 400;
    font-family: "PT Serif", serif; }
  .internal-page #target-industries-four .collapsible-header {
    background-color: #FFB700;
    border: 1px solid #FFB700; }
  .internal-page #target-industries-four .collapsible-body {
    background-color: #FFB700;
    border-bottom: 1px solid #FFB700; }
    .internal-page #target-industries-four .collapsible-body p {
      color: white; }
  .internal-page #target-industries-four h1 {
    font-family: "PT Serif", serif;
    color: white;
    margin: 0;
    padding: 0.5em; }
  .internal-page #target-industries-four .small {
    height: auto; }
  .internal-page #target-industries-four .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 24px;
    background: rgba(0, 39, 77, 0.5); }
.internal-page #target-industries-five ul.collapsible {
  box-shadow: none;
  border: none; }
.internal-page #target-industries-five .first {
  border-top: 1px solid #00274D;
  padding-top: 1em; }
.internal-page #target-industries-five .subheader {
  font-weight: 100;
  font-style: normal;
  color: #00274D;
  text-align: left; }
.internal-page #target-industries-five p {
  font-family: "Heebo", sans-serif;
  font-size: 14px; }
.internal-page #target-industries-five .para {
  color: #00274D;
  font-size: 17px;
  font-family: "PT Serif", serif;
  font-style: normal; }
.internal-page #target-industries-six {
  background-color: #00274D; }
  .internal-page #target-industries-six .subheader {
    color: white;
    font-weight: 100;
    font-style: normal; }
  .internal-page #target-industries-six ul.collapsible {
    box-shadow: none;
    border: none; }
  .internal-page #target-industries-six .collapsible-header {
    background-color: #00274D;
    border: 1px solid #00274D; }
  .internal-page #target-industries-six .collapsible-body {
    background-color: #00274D;
    border-bottom: 1px solid #00274D; }
    .internal-page #target-industries-six .collapsible-body p {
      color: white; }
  .internal-page #target-industries-six .subhead {
    margin-top: 0;
    color: white; }
    .internal-page #target-industries-six .subhead i {
      color: #00274D; }
  .internal-page #target-industries-six .first {
    border-top: 1px solid #00274D;
    padding-top: 1em; }
  .internal-page #target-industries-six p {
    font-family: "Heebo", sans-serif; }
  .internal-page #target-industries-six .para {
    color: white;
    text-align: left;
    font-size: 15px;
    font-style: normal;
    text-indent: 20px;
    font-weight: 400;
    font-family: "PT Serif", serif; }
.internal-page #target-industries-seven .subheader {
  text-align: left; }

.business-body #business-one {
  background-color: #00274D;
  color: white; }
  .business-body #business-one .para {
    font-family: "PT Serif", serif; }
.business-body #services-section .service-wrapper {
  padding: 1em 0; }
.business-body #services-section .sub-header {
  color: #00274D;
  font-weight: 100;
  font-style: normal;
  border-bottom: 1px solid #00274D; }
.business-body #services-section p {
  font-style: normal;
  color: #00274D;
  font-size: 17px;
  font-family: "PT Serif", serif;
  font-style: normal; }
.business-body #services-section #service-one .number {
  color: #00274D; }
.business-body #services-section #service-one .sub-header {
  border-bottom: 1px solid #00274D; }
.business-body #services-section #service-two {
  background-color: #FFB700; }
  .business-body #services-section #service-two .number {
    color: #00274D; }
  .business-body #services-section #service-two .sub-header {
    color: #00274D;
    border-bottom: 1px solid #00274D; }
  .business-body #services-section #service-two p {
    color: #00274D; }
.business-body #services-section #service-three {
  background-color: #00AFAC; }
  .business-body #services-section #service-three .number {
    color: white; }
  .business-body #services-section #service-three .sub-header {
    color: white;
    border-bottom: 1px solid white; }
  .business-body #services-section #service-three p {
    color: white; }
.business-body #services-section #service-four {
  background-color: white; }
  .business-body #services-section #service-four .number {
    color: #00274D; }
  .business-body #services-section #service-four .sub-header {
    color: #00274D;
    border-bottom: 1px solid #00274D; }
  .business-body #services-section #service-four p {
    color: #00274D; }
.business-body #services-section #service-five {
  background-color: #FFB700; }
  .business-body #services-section #service-five .number {
    color: #00274D; }
  .business-body #services-section #service-five .sub-header {
    color: #00274D;
    border-bottom: 1px solid #00274D; }
  .business-body #services-section #service-five p {
    color: #00274D; }
.business-body #services-section #service-six {
  background-color: #00AFAC; }
  .business-body #services-section #service-six .number {
    color: white; }
  .business-body #services-section #service-six .sub-header {
    color: white;
    border-bottom: 1px solid white; }
  .business-body #services-section #service-six p {
    color: white; }
.business-body #services-section #service-seven {
  background-color: #00274D; }
  .business-body #services-section #service-seven .number {
    color: white; }
  .business-body #services-section #service-seven .sub-header {
    color: white;
    border-bottom: 1px solid white; }
  .business-body #services-section #service-seven p {
    color: white; }
.business-body #assistance-section .header {
  font-family: "Heebo", sans-serif;
  font-size: 64px;
  color: #00274D;
  font-style: normal; }
.business-body #assistance-section .collapsible {
  border: none;
  box-shadow: none; }
  .business-body #assistance-section .collapsible .collapsible-header {
    font-family: "PT Serif", serif; }
  .business-body #assistance-section .collapsible .collapsible-header.subhead.active {
    border-bottom: 2px solid #00AFAC; }
  .business-body #assistance-section .collapsible .collapsible-body {
    font-size: 15px;
    font-family: "Heebo", sans-serif;
    font-style: normal; }
.business-body #more-resources {
  background-color: #FFB700;
  padding-bottom: 1em; }
  .business-body #more-resources h1 {
    font-family: "Heebo", sans-serif;
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: 100;
    font-style: normal; }
  .business-body #more-resources .small {
    height: auto; }
  .business-body #more-resources .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    padding: 24px;
    background: rgba(0, 39, 77, 0.5);
    font-style: normal; }

.resources-body .toast {
  border-radius: 2px;
  top: 35px;
  width: auto;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  background-color: #00AFAC;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 300;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: default; }
.resources-body #resources-one {
  background-color: #00274D; }
  .resources-body #resources-one .map-header {
    font-style: normal;
    font-family: "Heebo", sans-serif;
    font-size: 32px;
    font-weight: 100; }
  .resources-body #resources-one .resources-header {
    font-family: "PT Serif", serif;
    font-size: 3em; }
  .resources-body #resources-one .fa-plus {
    padding: 0 4px;
    position: absolute;
    left: 0; }
  .resources-body #resources-one .collection {
    border: none;
    text-align: right; }
    .resources-body #resources-one .collection .collection-item {
      background-color: #00274D;
      border-bottom: 1px solid lightgrey;
      color: white;
      font-family: "PT Serif", serif;
      font-size: 18px;
      padding-right: 0; }
.resources-body .st3 a {
  fill: white;
  stroke: white; }
.resources-body #news-banner-internal {
  position: relative;
  background-color: #FFB700; }
  .resources-body #news-banner-internal .fa {
    font-size: 38px;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top: -19px;
    color: #00274D; }
  .resources-body #news-banner-internal .card.small {
    height: auto; }
    .resources-body #news-banner-internal .card.small .card-title {
      font-size: 14px; }
  .resources-body #news-banner-internal .card .card-content .card-title {
    display: block;
    text-align: left;
    line-height: 39px;
    margin-bottom: 0px; }
  .resources-body #news-banner-internal .card-category {
    font-size: 10px;
    color: #00AFAC;
    font-style: italic;
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    position: absolute;
    top: 8px;
    left: 10px; }
  .resources-body #news-banner-internal .card.small .card-image, .resources-body #news-banner-internal .card.medium .card-image, .resources-body #news-banner-internal .card.large .card-image {
    max-height: none;
    overflow: hidden; }
  .resources-body #news-banner-internal .card.small .card-image {
    height: 100%; }
  .resources-body #news-banner-internal .card-content {
    background-color: rgba(0, 39, 77, 0.5);
    height: 82px;
    position: absolute;
    bottom: 0;
    z-index: 4;
    width: 100%;
    padding-bottom: 4em; }
  .resources-body #news-banner-internal .card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
  .resources-body #news-banner-internal .card .card-reveal {
    padding: 10px;
    position: absolute;
    background-color: #00274D;
    color: white;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    font-family: "Heebo", sans-serif; }
    .resources-body #news-banner-internal .card .card-reveal h5 {
      font-weight: 700; }
  .resources-body #news-banner-internal .close-card {
    position: absolute;
    right: 12px;
    top: 12px;
    /* float: right; */
    text-align: right;
    font-size: 18px; }

#contact-one {
  background-color: white; }

.contact-body {
  font-family: "Heebo", sans-serif;
  color: #00274D;
  /* label color */
  /* label focus color */
  /* label underline focus color */
  /* valid color */
  /* invalid color */
  /* icon prefix focus color */ }
  .contact-body .button-solid {
    background-color: #0298D9; }
  .contact-body .input-field label {
    color: #444; }
  .contact-body .input-field input:focus + label {
    color: #444; }
  .contact-body .input-field input[type=text]:focus {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444; }
  .contact-body .input-field input[type=text].valid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444; }
  .contact-body .input-field input[type=text].invalid {
    border-bottom: 1px solid #444;
    box-shadow: 0 1px 0 0 #444; }
  .contact-body .input-field .prefix.active {
    color: #444; }
  .contact-body #contact-two {
    background-color: #FFB700;
    text-align: center; }
    .contact-body #contact-two form {
      padding: 1em 0; }
      .contact-body #contact-two form label {
        color: white; }
      .contact-body #contact-two form input {
        text-align: center; }
      .contact-body #contact-two form ::-webkit-input-placeholder {
        /* WebKit browsers */
        color: white;
        opacity: 1 !important; }
      .contact-body #contact-two form input[type=email]:not(.browser-default) {
        border-bottom: 1px solid white; }
      .contact-body #contact-two form #subscribe {
        font-family: "Heebo", sans-serif;
        font-size: 15px;
        font-weight: 100; }
  .contact-body #point-of-contact .name {
    color: #00AFAC;
    font-weight: 800;
    font-family: "Heebo", sans-serif;
    font-size: 18px; }
  .contact-body #point-of-contact .para {
    line-height: 7px;
    font-size: 15px;
    font-family: "Heebo", sans-serif; }
  .contact-body #social-contact {
    background-color: #00AFAC;
    padding: 1em; }

.invest-body #invest-one {
  background-color: #00274D; }
  .invest-body #invest-one .sub-header {
    font-weight: 100;
    color: white; }
  .invest-body #invest-one p {
    font-size: 15px;
    color: white; }
.invest-body .subhead {
  font-size: 20px; }
.invest-body #invest-two .sub-header {
  font-family: "PT Serif", serif;
  color: #00274D; }
.invest-body #invest-two .circle-left {
  text-align: center;
  color: white;
  height: 130px;
  border-radius: 100%;
  width: 130px;
  padding-top: 31px;
  margin: 1em;
  margin-bottom: 4em; }
  .invest-body #invest-two .circle-left h4 {
    font-size: 14px; }
.invest-body #invest-two .circle-yellow {
  background-color: #FFB700; }
.invest-body #invest-two .circle-turq {
  background-color: #00AFAC; }
.invest-body #invest-two .bene {
  min-height: 250px;
  margin: 1.5em 0;
  padding: 10px;
  border-bottom: 1px solid lightgrey; }
  .invest-body #invest-two .bene .para {
    padding-top: 1em; }
.invest-body #invest-three {
  background-color: #00AFAC;
  padding: 1em 0; }
  .invest-body #invest-three .sub-header {
    font-family: "PT Serif", serif;
    color: white; }
  .invest-body #invest-three .yellow-head {
    color: #FFB700;
    font-weight: 800; }
  .invest-body #invest-three .blue-head {
    color: #0298D9;
    font-weight: 800; }
  .invest-body #invest-three .bene {
    background-color: white;
    min-height: 250px;
    margin: 1.5em 0;
    padding: 10px;
    border-bottom: 1px solid lightgrey; }
    .invest-body #invest-three .bene .para {
      padding-top: 1em;
      font-family: "PT Serif", serif; }
.invest-body #invest-four {
  background-color: white;
  padding: 1em 0; }
  .invest-body #invest-four .sub-header, .invest-body #invest-four .collection-header {
    font-family: "PT Serif", serif; }
  .invest-body #invest-four .yellow-head {
    color: #FFB700;
    font-weight: 800; }
  .invest-body #invest-four .blue-head {
    color: #0298D9;
    font-weight: 800; }
  .invest-body #invest-four .bene {
    background-color: white;
    min-height: 250px;
    margin: 1.5em 0;
    padding: 10px;
    border-bottom: 1px solid lightgrey; }
    .invest-body #invest-four .bene .para {
      padding-top: 1em;
      font-family: "PT Serif", serif; }

@media only screen and (max-width: 992px) {
  #section-two-content .subheader {
    text-align: center; }

  .internal-page #higher-education .subheader {
    text-align: center !important; }

  .internal-page .tap-target-content {
    text-align: right; }
    .internal-page .tap-target-content li a {
      color: white;
      font-family: "Heebo", sans-serif;
      font-weight: 100;
      font-size: 15px; }
  .internal-page #target-industries-two .subheader {
    font-weight: 100;
    font-style: normal;
    color: #00274D;
    text-align: center; }
  .internal-page #target-industries-four .subheader {
    text-align: center; }
  .internal-page #target-industries-five .subheader {
    text-align: center; }
  .internal-page #target-industries-seven .subheader {
    text-align: center; }

  .business-body .number {
    text-align: left; }
  .business-body .sub-header {
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
