//colors

$turq: #00AFAC;
$yellow: #FFB700;
$navy: #00274D;
$blue: #0298D9;
$grey: #B9B9B9;


// Font weights
$thin: 300;
$light: 400;
$regular: 700;
$bold: 900;

//Headings

$header-font-family: 'Heebo', sans-serif;
$header-font-weight:$regular;
$header-font-size:3em;

$subhead-font-family:'Heebo', sans-serif;
$subhead-font-weight: $thin;
$subhead-font-size: 24px;


// Jumbotron
$jubmotron-font-weight: $bold;
$jubmotron-font-size: 64px;

// Base Font

$base-font-family:'PT Serif', serif;
$base-font-size: 14px;


//mobile
$mobile-header-font-size:39px;
$mobile-sub-header-font-size:22px;
$mobile-sub-two-header-font-size:18px;
