@import "base";

//hover effects
.button-c.hvr-sweep-to-bottom:before{
  background-color: $navy;
}
.button-w.hvr-sweep-to-bottom:before{
  background-color:$yellow;
}


.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: $turq;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    cursor: pointer;
    font-size: 10px;
    font-family: $header-font-family;
    text-transform: none;
    border-radius: 0;
}
.button-c{
  width:auto;
  padding: 0 1em;
  height:55px;
  border:2px solid $navy;
  line-height: 51px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  font-size: 14px;
  font-family: $subhead-font-family;
  color:$navy;
  cursor: pointer;
  text-align: center;
}
.button-w{
  width:auto;
  padding: 0 1em;
  height:55px;
  border:2px solid white;
  line-height: 51px;
  font-size: 14px;
  font-family: $subhead-font-family;
  color:white;
  text-align: center;
}
.button-solid{
  width:165px;
  height:55px;
  background-color:$yellow;
  line-height: 51px;
  font-size: 14px;
  font-weight: 500;
  font-family: $subhead-font-family;
  color:white;
  text-align: center;
  margin:0 auto;
}
