@import "base";


$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

////////////////////

.big-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 82%;
}

//////////////////////////
/////////////////HOME BANNER TOP
/////////////////////////
.jumbotron-h1{
  font-size: $jubmotron-font-size;
  font-weight: $regular;
  font-family:$header-font-family;
  color:$turq;
  text-decoration: underline;
}
.jumbo-sub{
  font-family: $base-font-family;
  font-size: 44px;
  color:$yellow;
}
.jumbo-sub-two{
  font-family: $base-font-family;
  font-size: 26px;
  color:$navy;
  font-style: italic;
}
//container
.parallax-container{
  height:700px;
}

#index-banner{
  .section{
    width:100%;
  }
}

// MOBILE
////

//////////////////////////
/////////////////NEWS
/////////////////////////

#news-banner{
  position: relative;
  background-color:$yellow;
  .fa{
    font-size:38px;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top:-19px;
    color: $navy;
  }
  //card size

  .card.small{
    height:auto;
    .card-title{
      font-size:14px;
    }
  }
  .card .card-content .card-title {
    display: block;
    text-align: left;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .card-category{
    font-size:10px;
    color:$turq;
    font-style: italic;
    font-family: $header-font-family;
    font-weight: $regular;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: none;
    overflow: hidden;
  }
  .card.small .card-image{
    height:100%;
  }
  .card-content{
    background-color: rgba(0,39,77,0.5);
    height:82px;
    position: absolute;
    bottom:0;
    z-index: 4;
    width:100%;
    padding-bottom: 4em;
  }
  .card .card-image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      // height: 270px;
  }
  //card reveal
  .card .card-reveal {
      padding: 10px;
      position: absolute;
      background-color: $navy;
      color:white;
      width: 100%;
      overflow-y: auto;
      left: 0;
      top: 100%;
      height: 100%;
      z-index: 5;
      display: none;
      font-family: $header-font-family;
  h5{
      font-weight: $header-font-weight;
    }
  }
  .close-card{
    position: absolute;
    right: 12px;
    top: 12px;
    /* float: right; */
    text-align: right;
    font-size: 18px;
  }
}

///////////////////////////////////
////////////ABOUT section
//////////////////////////////////

#about-banner{
  position: relative;
  background-color: $turq;
  i.fa.fa-chevron-up{
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #00AFAC;
  }
  .acnj{
    font-family: $base-font-family;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color:$navy;
    position: relative;
    z-index: 1;
  }
  .text-para{
    font-family: $base-font-family;
    font-size: 18px;
    position: relative;
    z-index: 1;
    letter-spacing: 1.31;
  }
  .greyTriangle{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
  }

  ///WHY ATLANTIC COUNTY?
  #bottomSectionAbout{
    h1{
      color:$navy;
    }
    @media only screen and (min-width: 601px){
      .big-container {
        width: 85%;
    }}
    @media only screen and (min-width: 993px){
      .big-container {
        width: 82%;
    }}
    .ac-map{
      max-height: 464px;
    }
    p.para{
      padding: 1em;
      background-color: #028F8C;
      font-family: $base-font-family;
      font-size:15px;
      color: white;
      font-weight: 400;
    }
    .ico-group{
      display: inline-block;
      font-family: $header-font-family;
      font-weight: $thin;
      color: white;
      font-size: 12px;
      p{
        margin-top: 2px;
      }
    }
    #why-ac-icons{
        position: relative;
        width: 100%;
        list-style-type: none;
        display: block;
        li{
          display: inline-block;
          cursor: pointer;
          line-height: 60px;
          width: 60px;
          border: 1px solid white;
          margin: 5px;
          font-size: 23px;
          border-radius: 100%;
        }
    }

  }



}

///////////////////////////////////
////////////TARGET INDUSTRIES section
//////////////////////////////////
#target-industries-banner .carousel .indicators .indicator-item {
    display: block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255, 255, 255, 0.0);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
}
#target-industries-banner{
  min-height: 500px;
  position: relative;
  background-color:#4A4A4A;
  min-height: 500px;
.carousel .indicators .indicator-item {
    display: block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    color: white;
    background-color: transparent;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
    border: 1px solid white;
}
  .carousel{
    min-height: 500px;
    max-height: 501px;
  }
  .carousel .indicators{
    left: auto;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
  }
  .carousel .indicators .indicator-item {
    display: block;
    position: relative;
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 24px 4px;
    background-color: rgba(255,255,255,0);
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    border-radius: 50%;
    border: 1px solid white;
  }
  .carousel .indicators .indicator-item.active {
    background-color: #fff;
  }
  i.fa.fa-chevron-up{
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #4A4A4A;
  }
  .target-industries-header{
    border-bottom:3px solid white;
    margin-top: 0;
  }
  .industry-image{
    background-image: url(../img/aviation.jpg);
    background-size: cover;
    min-height: 500px;
  }

  //industry card
  .industry-card{
    background-color: #4A4A4A;
    box-shadow: none;
    min-height: 500px;
    margin-bottom: 0;
    padding: 0;
    #industry-title{
      font-weight: $light;
    }
    .target-industries-slide{
      background-color: #4A4A4A;
    }
    span{
      font-family: $base-font-family;
      letter-spacing: 1.31px;
      font-size: 18px;
    }
    .icon-row{
      margin-top: 2rem;
      ul{
        display: block;
        li{
          display: inline-block;
          padding: 0 4px;
        }
      }
    }
  }
}


///////////////////////////////////
////////////Business Services
//////////////////////////////////
#business-services{
  background:$navy;
  position: relative;
  i.fa.fa-chevron-up{
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: $navy;
  }
  .subheader{
    font-size: $subhead-font-size;
    font-weight: $subhead-font-weight;
    font-family: $subhead-font-family;
  }
  .step-group{
    position: relative;
    margin: 0;
  }
  .step-col{
    opacity: 0.49;
    cursor: pointer;
    padding-right: 0;
    width: 14.28%;
    h2{
      text-align: left;
      color: white;
      font-family: $base-font-family;

    }
    .stepTitle{
      font-size:20px;
      font-style: italic;
      text-align:center;
      font-weight:bold;
      font-family: $base-font-family;
      border-right: 1px solid white;
      border-bottom:1px solid white;
      padding-bottom: 1em;
      margin-bottom: 0;
      min-height: 65px;
    }
  }
  .step-col-active{
    opacity: 1;
    cursor: pointer;
    h2{
      color:white;
      text-align: left;
    }
    .stepTitle{
      font-size:20px;
      font-style: italic;
      text-align:center;
      font-weight:bold;
      font-family: $base-font-family;
      border-right: 1px solid white;
      border-bottom:1px solid white;
      padding-bottom: 1em;
      margin-bottom: 0;

    }
  }
  .step-desc{
    margin-top: 2em;
    h5{
      color:white;
      font-family: $header-font-family;
      font-size: 11px;
      font-weight: 100;
      padding-bottom: 15px;
      border-bottom: 1px solid #FFF;
    }
    p{
      color:white;
      font-family: $base-font-family;
    }
  }
  #download-pdf{
    float: left;
    margin: 1em 0;
    background-color:$turq;
    color:$navy;
    cursor: pointer;
  }
  .graphic{
    position: absolute;
    right: 0;
    bottom:-6px;
    max-width: 50%;
  }


  // @media only screen and (min-width: 601px){
  //   .row .col.m1 {
  //       width: 13.333333%;
  //       margin-left: auto;
  //       left: auto;
  //       right: auto;
  //   }
  // }

}


///////////////////////////////////
////////////DATA SECTION
//////////////////////////////////

#data-section{
  position: relative;
  background-color: white;
  min-height: 400px;
  .data-row{
    .tabs{
      height: auto;
      .tab{
        height: auto;
      }
    }
    h1{
      background-color: #00274D;
      text-align: center;
      color: white;
      height: 130px;
      line-height: 130px;
      border-radius: 100%;
      width: 130px;
    }
  }
  i.fa.fa-chevron-up{
    width: 100%;
    position: absolute;
    top: -68px;
    text-align: center;
    font-size: 90px;
    color: white;
  }
  h3.header{
    padding-top: 2em;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.4em;
    a{
      color:$navy;
      border-bottom: 1px solid $navy;
    }
  }
}




#real-estate{
  position: relative;
  margin-bottom: 4em;
  min-height: 400px;
  .greyTri{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  .big-container{
    z-index: 1;
  }
  .header{
    font-weight: 100;
    font-size: 36px;
    i{
      font-style: normal;
      border-bottom:1px solid black;
    }
  }
  .listing{
    cursor: pointer;
    .top-right{
      position: absolute;
    }
  }
}

#contact-section{
  // background-color: $blue;
  i.fa.fa-chevron-up{
    position: absolute;
    top: 30%;
    text-align: center;
    font-size: 90px;
    color: white;
    transform: rotate(-90deg);
    left: -49px;
  }
  position: relative;
  .contact-row{
    background-color:$blue;
    // min-height: 215px;
    margin-bottom: 0;
  }
  .left-col{
    padding: 0;
    min-height: 241px;
  }
  .right-col{
    min-height: 241px;
  }
  .row-left{
    background-color:$blue;
    margin-bottom: 0;
  }
  h1.header{
    // line-height: 215px;
    color: white;
  }
  .social-icon{
    font-size: 24px;
    padding: 0
  }
}

//FOOTER

.page-footer{
  padding-top: 0;
  background-color: $navy;

  .row{
    margin-bottom: 0;
  }
  .foot-links{
    text-align: right;
    margin-right: 10px;
    li{
      display: inline-block;
      margin-left: 2em;
      a{
        color: white;
      }
    }
  }
  .footer-copyright{
    a{
      color:$navy;
    }
    .logo-left{
      height: 78px;
    }
    .love{
      margin-left: 3px;
    }
    height: 78px;
    background-color: $turq;
  }
}



@media #{$small-and-down} {
  .big-container {
    width: 100%;
  }
  .header{
    text-align: center;
    font-size: $mobile-header-font-size;
  }
  // top section
  #index-banner{
    .jumbotron-h1{
      font-size: $mobile-header-font-size;
    }
    .jumbo-sub{
      font-size: $mobile-sub-header-font-size;
    }
    .jumbo-sub-two{
      font-size: $mobile-sub-two-header-font-size;
    }
  }
  //target industries
  #target-industries-banner{
    min-height: 200px;
    #target-industries-button{
      margin: 0 auto;
      display: block;
      background-color: transparent;
      border:1px solid white;
      color:white;
      width: auto;
      padding: 0 1em;
    }
  }
  // business services
  #business-services .step-col {
    width: 50%;
  }
}
