@import "base";

//////////////////////////
/////////////////HOME BANNER TOP
/////////////////////////
.jumbotron-h1{
  font-size: $jubmotron-font-size;
  font-weight: $regular;
  font-family:$header-font-family;
  color:$turq;
  text-decoration: underline;
}
.jumbo-sub{
  font-family: $base-font-family;
  font-size: 44px;
  color:$yellow;
}
.jumbo-sub-two{
  font-family: $base-font-family;
  font-size: 26px;
  color:$navy;
  font-style: italic;
}
//container
.parallax-container{
  height:700px;
}

#index-banner{
  .section{
    width:100%;
  }
}

//////////////////////////
/////////////////NEWS
/////////////////////////

#news-banner{
  position: relative;
  background-color:$yellow;
  .fa{
    font-size:38px;
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    top:-19px;
    color: $navy;
  }
  //card size
  .card.small{
    height:220px;
    .card-title{
      font-size:14px;
    }
  }
  .card .card-content .card-title {
    display: block;
    text-align: left;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .card-category{
    font-size:10px;
    color:$turq;
    font-style: italic;
    font-family: $header-font-family;
    font-weight: $regular;
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .card.small .card-image, .card.medium .card-image, .card.large .card-image {
    max-height: none;
    overflow: hidden;
  }
  .card.small .card-image{
    height:100%;
  }
  .card-content{
    background-color: rgba(0,39,77,0.5);
    height:82px;
    position: absolute;
    bottom:0;
    z-index: 4;
    width:100%;
  }
  .card .card-image img {
      display: block;
      border-radius: 2px 2px 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 270px;
  }
  //card reveal
  .card .card-reveal {
      padding: 24px;
      position: absolute;
      background-color: $navy;
      color:white;
      width: 100%;
      overflow-y: auto;
      left: 0;
      top: 100%;
      height: 100%;
      z-index: 5;
      display: none;
      font-family: $header-font-family;
  h5{
      font-weight: $header-font-weight;
    }
  }
  .close-card{
    position: absolute;
    right: 12px;
    top: 12px;
    /* float: right; */
    text-align: right;
    font-size: 18px;
  }
}
///////////////////////////////////
////////////ABOUT section
//////////////////////////////////

#about-banner{
  position: relative;
  background-color: $turq;
  i.fa.fa-chevron-up{
    width: 100%;
    position: absolute;
    top: -46px;
    text-align: center;
    font-size: 90px;
    color: #00AFAC;
  }
  .acnj{
    font-family: $base-font-family;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color:$navy;
    position: relative;
    z-index: 1;
  }
  .text-para{
    font-family: $base-font-family;
    font-size: 18px;
    position: relative;
    z-index: 1;
    letter-spacing: 1.31;
  }
  .greyTriangle{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 0;
  }

  ///WHY ATLANTIC COUNTY?
  #bottomSectionAbout{
    .big-container {
      margin: 0 auto;
      max-width: 1200px;
      width: 82%;
    }
    @media only screen and (min-width: 601px){
      .big-container {
        width: 85%;
    }}
    @media only screen and (min-width: 993px){
      .big-container {
        width: 82%;
    }}
    .ac-map{
      max-height: 464px;
    }
    p.para{
      padding: 1em;
      background-color: #028F8C;
      font-family: $base-font-family;
      font-size:18px;
      color: white;
      font-weight: 400;
    }
    .ico-group{
      display: inline-block;
      font-family: $header-font-family;
      font-weight: $thin;
      color: white;
      font-size: 12px;
      p{
        margin-top: 2px;
      }
    }
    #why-ac-icons{
        position: relative;
        width: 100%;
        list-style-type: none;
        display: block;
        li{
          display: inline-block;
          cursor: pointer;
          line-height: 60px;
          width: 60px;
          border: 1px solid white;
          margin: 5px;
          font-size: 23px;
          border-radius: 100%;
        }
    }

  }



}
